<% layout('/layouts/boilerplate.ejs') -%>



<style>
  #ProfilePic{
    width: 150px;
    height: 150px;
    border-radius: 5rem;
    border: 2px red solid;
    padding: 0.2rem;
  }
  .box{
    width: 300px;
    height: 200px;
  }

</style>
<body>
    

    <div class="container p-4">
        <div class=" d-flex justify-content-center">
          <div class="col-md-3">
            <img id="ProfilePic" src="<%= userProfile.profilePic%>">
          </div>
          <div class="col-md-7">
            <div class="d-flex gap-3 align-items-center">
                <h5><%= userProfile.username %></h5>
                <form method="POST" action="/profile/<%=userProfile._id%>/follow" >
                  <button class="btn bg-primary text-white followBtn">Follow</button>
                </form>
                <%if(currUser){%>
                  <%if(currUser.username == userProfile.username){%>
                    <form action="">
                        <button class="btn bg-primary text-white">Edit</button>
                      </form>
                  <%}%>
                <%}%>
                
            </div>
            <div class="d-flex gap-4 align-items-center">
                <p><b><%=Object.keys(userProfile.posts).length%></b> posts</p>
                <p><b><%=Object.keys(userProfile.follower).length%></b> followers</p>
                <p><b><%=Object.keys(userProfile.following).length%></b> following</p>
            </div>
            <p><b><%=userProfile.name%></b> Lorem ipsum dolor sit amet.</p>
            <a href="#">Link clickable</a>
          </div>
        </div>
      </div>
      <div class="container border-top mt-5">
            <div class="row m-3 ">
                <%for(post of userProfile.posts) {%>
                 <a class="box bg-secondary m-3" href="/posts/<%=post._id%>" 
                  style="
                  background-image: url(<%=post.image.url%>);
                  background-position: center;
                  background-size: cover;
                    "></a>
                <%}%>
                
            </div>
      </div>
      <script>

        let followValue = false;
        const followBtn = document.querySelector(".followBtn");

        followBtn.addEventListener("click", () => {
            if (followValue == true) {
                followBtn.innerHTML = "Follow";
                followValue = false;
            } else {
                followBtn.innerHTML = "Following";
                
                followValue = true;
            }
        });      
        </script>
</body>